@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");

body {
  max-width: 1000px;
  margin: auto;
  padding: 16px;/* inner spacing on all screens */
  font-family: 'Tahoma';/*Source Sans Pro*/
  text-align: justify;
  font-weight: 300;
  color: #5d5d5d;
  font-size: 14pt;
  line-height: 1.75em;
}

/* <b> is for bold (<strong> is for important text: usually same as bold) */
strong, b {
  color: #252122;
  font-weight: 700;
}

/* <em> is for italic (<i> is aside text: usually same as italic) */
i, em {
  font: inherit;
  font-style: italic;
}

/* subscript */
sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

/* superscript */
sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  border-left: solid 0.75em #dddddd;
  padding: 1em 0 1em 1.5em;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: #252122;
  font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

/* hyperlink */
a {
  color: #d52349;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* horizontal line */
hr {
  border: 0;
  border-top: solid 1px #dddddd;
  height: 1px;
  margin: 2em 0 2em 0;
}

/* paragraph, unordered list, ordered list, description list, table */
p, ul, ol, dl, table {
  margin-bottom: 2em;
}


/* Header */

#header {
  position: relative;
  background: #ffffff;
  /* border-bottom: solid 1px #ccc; */
  padding: 5em 0 4em 0;
  text-align: center;
}

  #header h1 {
    color: #252122;
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: -0.01em;
    line-height: 0;
  }


/* Nav */

#nav {
  margin: 2.5em 0 0 0;
}

  #nav > ul {
    margin: 0;
  }

    #nav > ul > li {
      display: inline-block;
      font-style: italic;
      margin: 0 0.35em 0 0.35em;
    }

      #nav > ul > li > ul {
        display: none;
      }

      #nav > ul > li > a {
        border-radius: 5px;
        color: #5d5d5d;
        text-decoration: none;
        padding: 0.6em 1.2em 0.6em 1.2em;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
        outline: 0;
      }

      #nav > ul > li:hover > a, #nav > ul > li.active > a {
        background: #f3f3f3;
      }

      #nav > ul > li.current > a {
        background: #d52349;
        color: #fff !important;
        font-weight: 700;
      }

/* .dropotron {
  border-radius: 5px;
  background-color: #252122;
  background-color: rgba(34, 30, 31, 0.98);
  padding: 1.25em 1.5em 1.25em 1.5em;
  font-style: italic;
  min-width: 13em;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-top: -1.25em;
  margin-left: -1px;
  list-style: none;
}

  .dropotron a, .dropotron span {
    color: #aaa;
    text-decoration: none;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
  }

  .dropotron li {
    padding: 0.25em 0 0.25em 0;
  }

    .dropotron li:hover > a, .dropotron li:hover > span {
      color: #fff;
    }

  .dropotron.level-0 {
    margin-top: 2em;
  }

    .dropotron.level-0:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      top: -9px;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 10px #252122;
      border-bottom-color: rgba(34, 30, 31, 0.98);
    } */